<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_MvNJgMFBEeipM4DyHdzJFg" specification="@CycleBased(200)&#xA;&#xA;import : &quot;states.h&quot;&#xA;import : &quot;helper_funcs.h&quot;&#xA;&#xA;interface:&#xA;// Define events and&#xA;// and variables here. &#xA;//Use CTRL + Space for content assist.&#xA;&#xA;var distance : float = 0.0f&#xA;var prev_encoder: uint16_t = read_encoder()&#xA;&#xA;var angle : float = 0.0f&#xA;var cumulative_angle : float = 0.0f&#xA;&#xA;var turnL : bool = false&#xA;var turnR : bool = false&#xA;&#xA;var reorienting : bool = false&#xA;" name="robot_template" domainID="com.yakindu.domain.c">
    <regions xmi:id="_MvRa88FBEeipM4DyHdzJFg" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_MvbL8cFBEeipM4DyHdzJFg">
        <outgoingTransitions xmi:id="_MvfdYcFBEeipM4DyHdzJFg" target="_MvdBIMFBEeipM4DyHdzJFg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_MvdBIMFBEeipM4DyHdzJFg" specification="always/stop_kobuki(); print_state(states.OFF)" name="OFF" incomingTransitions="_MvfdYcFBEeipM4DyHdzJFg _GWWPsMdEEeihatmRP73Lhg _Y2P1UMdLEeihatmRP73Lhg _M7KxIMdQEeihatmRP73Lhg">
        <outgoingTransitions xmi:id="_AFhx4MdEEeihatmRP73Lhg" specification="[is_button_press()]/prev_encoder = read_encoder()" target="_8NTjIMdDEeihatmRP73Lhg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_8NTjIMdDEeihatmRP73Lhg" name="ON" incomingTransitions="_AFhx4MdEEeihatmRP73Lhg _8m90wMdNEeihatmRP73Lhg">
        <outgoingTransitions xmi:id="_GWWPsMdEEeihatmRP73Lhg" specification="[is_button_press()]/distance = 0; angle = 0" target="_MvdBIMFBEeipM4DyHdzJFg"/>
        <outgoingTransitions xmi:id="_Mbzt4MdLEeihatmRP73Lhg" specification="[is_right_bumper() || is_left_bumper() || is_front_bumper()]/&#xA;turnL = is_left_bumper();&#xA;turnR = !turnL;&#xA;distance = 0;&#xA;angle = 0;&#xA;prev_encoder = read_encoder()" target="_Ko9QMMdLEeihatmRP73Lhg"/>
        <regions xmi:id="_8NUxQMdDEeihatmRP73Lhg" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_9DVzQMdDEeihatmRP73Lhg" specification="always/drive_kobuki(true) ; print_state(states.DRIVING);&#xA;distance = update_dist(distance, prev_encoder, true);&#xA;prev_encoder = read_encoder();&#xA;print_dist(distance)" name="DRIVING" incomingTransitions="_-bqREMdDEeihatmRP73Lhg _krjhUMdJEeihatmRP73Lhg">
            <outgoingTransitions xmi:id="_V6p40MdJEeihatmRP73Lhg" specification="[distance >= 0.5]/distance=0;&#xA;angle = 0; &#xA;start_gyro()" target="_LTfs4MdJEeihatmRP73Lhg"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_-CQSkMdDEeihatmRP73Lhg">
            <outgoingTransitions xmi:id="_-bqREMdDEeihatmRP73Lhg" specification="" target="_9DVzQMdDEeihatmRP73Lhg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_LTfs4MdJEeihatmRP73Lhg" specification="always/turn_kobuki(false);&#xA;print_state(states.LEFT);&#xA;angle = read_gyro();&#xA;print_angle(angle);&#xA;print_turn(turns.LEFT_TURN)" name="TURNING" incomingTransitions="_V6p40MdJEeihatmRP73Lhg">
            <outgoingTransitions xmi:id="_krjhUMdJEeihatmRP73Lhg" specification="[angle >= 90]/stop_gyro();&#xA;stop_kobuki();&#xA;angle = 0" target="_9DVzQMdDEeihatmRP73Lhg"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_Ko9QMMdLEeihatmRP73Lhg" name="AVOID" incomingTransitions="_Mbzt4MdLEeihatmRP73Lhg _xuBVQMdNEeihatmRP73Lhg">
        <outgoingTransitions xmi:id="_Y2P1UMdLEeihatmRP73Lhg" specification="[is_button_press()]/distance = 0; angle = 0; stop_gyro()&#xA;" target="_MvdBIMFBEeipM4DyHdzJFg"/>
        <outgoingTransitions xmi:id="_j0muYMdNEeihatmRP73Lhg" specification="[angle >= 45 || angle &lt;= -45]/stop_gyro();&#xA;distance = 0;&#xA;stop_kobuki();&#xA;cumulative_angle += angle;&#xA;angle = 0;&#xA;prev_encoder = read_encoder()" target="_iIancMdPEeihatmRP73Lhg"/>
        <regions xmi:id="_Ko9QM8dLEeihatmRP73Lhg" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_WP-MEMdKEeihatmRP73Lhg" specification="always/drive_kobuki(false) ; print_state(states.BACKUP);&#xA;distance = update_dist(distance, prev_encoder, false);&#xA;prev_encoder = read_encoder();&#xA;print_dist(distance)" name="BACKUP" incomingTransitions="_djEw0MdLEeihatmRP73Lhg">
            <outgoingTransitions xmi:id="_ob8X0MdLEeihatmRP73Lhg" specification="[distance >= 0.1 &amp;&amp; turnL]/start_gyro()" target="_mcpZkMdLEeihatmRP73Lhg"/>
            <outgoingTransitions xmi:id="_9ksTMMdLEeihatmRP73Lhg" specification="[distance >= 0.1 &amp;&amp; turnR]/start_gyro()" target="_7HkJcMdLEeihatmRP73Lhg"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_dHhdQMdLEeihatmRP73Lhg">
            <outgoingTransitions xmi:id="_djEw0MdLEeihatmRP73Lhg" specification="" target="_WP-MEMdKEeihatmRP73Lhg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_mcpZkMdLEeihatmRP73Lhg" specification="always/turn_kobuki(true);&#xA;angle = read_gyro();&#xA;print_angle(angle);&#xA;print_turn(turns.RIGHT_TURN)" name="TURNL" incomingTransitions="_ob8X0MdLEeihatmRP73Lhg"/>
          <vertices xsi:type="sgraph:State" xmi:id="_7HkJcMdLEeihatmRP73Lhg" specification="always/turn_kobuki(false);&#xA;angle = read_gyro();&#xA;print_angle(angle);&#xA;print_turn(turns.LEFT_TURN)" name="TURNR" incomingTransitions="_9ksTMMdLEeihatmRP73Lhg"/>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_iIancMdPEeihatmRP73Lhg" name="REORIENT_SEQUENCE" incomingTransitions="_j0muYMdNEeihatmRP73Lhg">
        <outgoingTransitions xmi:id="_8m90wMdNEeihatmRP73Lhg" specification="[(angle + cumulative_angle) % 360 &lt;= 2 &amp;&amp;(angle + cumulative_angle) % 360 >= -2 &amp;&amp; reorienting]/stop_gyro();&#xA;cumulative_angle = 0;&#xA;angle = 0;&#xA;reorienting = false" target="_8NTjIMdDEeihatmRP73Lhg"/>
        <outgoingTransitions xmi:id="_xuBVQMdNEeihatmRP73Lhg" specification="[is_right_bumper() || is_left_bumper() || is_front_bumper()]/&#xA;turnL = is_left_bumper();&#xA;turnR = !turnL;&#xA;distance = 0;&#xA;angle = 0;&#xA;prev_encoder = read_encoder()" target="_Ko9QMMdLEeihatmRP73Lhg"/>
        <outgoingTransitions xmi:id="_M7KxIMdQEeihatmRP73Lhg" specification="[is_button_press()]/distance = 0; angle = 0; stop_gyro(); reorienting = false; cumulative_angle = 0" target="_MvdBIMFBEeipM4DyHdzJFg"/>
        <regions xmi:id="_iIccosdPEeihatmRP73Lhg" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_afHlsMdNEeihatmRP73Lhg" specification="always/turn_kobuki(cumulative_angle > 0);&#xA;print_state(states.REORIENT);&#xA;angle = read_gyro();&#xA;print_angle((angle + cumulative_angle) % 360)" name="REORIENT" incomingTransitions="_pmQj8MdNEeihatmRP73Lhg"/>
          <vertices xsi:type="sgraph:State" xmi:id="_gmP8DMdNEeihatmRP73Lhg" specification="always/drive_kobuki(true) ; print_state(states.DRIVING);&#xA;distance = update_dist(distance, prev_encoder, true);&#xA;prev_encoder = read_encoder();&#xA;print_dist(distance)" name="DRIVING" incomingTransitions="_sb9T0MdPEeihatmRP73Lhg">
            <outgoingTransitions xmi:id="_pmQj8MdNEeihatmRP73Lhg" specification="[distance >= 0.25]/distance=0;&#xA;angle = 0; &#xA;start_gyro();&#xA;reorienting = true" target="_afHlsMdNEeihatmRP73Lhg"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_sBGj0MdPEeihatmRP73Lhg">
            <outgoingTransitions xmi:id="_sb9T0MdPEeihatmRP73Lhg" specification="" target="_gmP8DMdNEeihatmRP73Lhg"/>
          </vertices>
        </regions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_MvRa8MFBEeipM4DyHdzJFg" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_MvNJgMFBEeipM4DyHdzJFg" measurementUnit="Pixel">
    <children xmi:id="_MvYIoMFBEeipM4DyHdzJFg" type="Region" element="_MvRa88FBEeipM4DyHdzJFg">
      <children xsi:type="notation:DecorationNode" xmi:id="_MvZ90MFBEeipM4DyHdzJFg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Mvak4MFBEeipM4DyHdzJFg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Mvak4cFBEeipM4DyHdzJFg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_Mvak4sFBEeipM4DyHdzJFg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_MvbzAMFBEeipM4DyHdzJFg" type="Entry" element="_MvbL8cFBEeipM4DyHdzJFg">
          <children xmi:id="_MvcaEMFBEeipM4DyHdzJFg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_MvcaE8FBEeipM4DyHdzJFg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_MvcaFMFBEeipM4DyHdzJFg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_MvcaFcFBEeipM4DyHdzJFg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_MvcaEcFBEeipM4DyHdzJFg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MvcaEsFBEeipM4DyHdzJFg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_MvbzAcFBEeipM4DyHdzJFg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_MvbzAsFBEeipM4DyHdzJFg" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MvcaFsFBEeipM4DyHdzJFg" x="70" y="20" width="15" height="15"/>
        </children>
        <children xmi:id="_MvdoMMFBEeipM4DyHdzJFg" type="State" element="_MvdBIMFBEeipM4DyHdzJFg">
          <children xsi:type="notation:DecorationNode" xmi:id="_MvdoNMFBEeipM4DyHdzJFg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_MvdoNcFBEeipM4DyHdzJFg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_MvdoNsFBEeipM4DyHdzJFg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_MvePQMFBEeipM4DyHdzJFg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_MvePQcFBEeipM4DyHdzJFg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MvePQsFBEeipM4DyHdzJFg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Mve2UMFBEeipM4DyHdzJFg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_MvdoMcFBEeipM4DyHdzJFg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_MvdoMsFBEeipM4DyHdzJFg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Mve2UcFBEeipM4DyHdzJFg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MvfdYMFBEeipM4DyHdzJFg" x="40" y="80" width="123" height="113"/>
        </children>
        <children xmi:id="_8NWmcMdDEeihatmRP73Lhg" type="State" element="_8NTjIMdDEeihatmRP73Lhg">
          <children xsi:type="notation:DecorationNode" xmi:id="_8NX0kMdDEeihatmRP73Lhg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_8NX0kcdDEeihatmRP73Lhg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_8NX0ksdDEeihatmRP73Lhg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_8NX0k8dDEeihatmRP73Lhg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_8NYboMdDEeihatmRP73Lhg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8NYbocdDEeihatmRP73Lhg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_8NYbosdDEeihatmRP73Lhg" type="StateFigureCompartment">
            <children xmi:id="_JBzsMMdLEeihatmRP73Lhg" type="Region" element="_8NUxQMdDEeihatmRP73Lhg">
              <children xsi:type="notation:DecorationNode" xmi:id="_JBzsMcdLEeihatmRP73Lhg" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_JBzsMsdLEeihatmRP73Lhg"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_JBzsM8dLEeihatmRP73Lhg"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_JBzsNMdLEeihatmRP73Lhg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_JBzsNcdLEeihatmRP73Lhg" type="State" element="_9DVzQMdDEeihatmRP73Lhg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_JBzsNsdLEeihatmRP73Lhg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_JBzsN8dLEeihatmRP73Lhg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_JBzsOMdLEeihatmRP73Lhg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_JBzsOcdLEeihatmRP73Lhg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_JBzsOsdLEeihatmRP73Lhg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JBzsO8dLEeihatmRP73Lhg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_JBzsPMdLEeihatmRP73Lhg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_JBzsPcdLEeihatmRP73Lhg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_JBzsPsdLEeihatmRP73Lhg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_JBzsP8dLEeihatmRP73Lhg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JBzsQMdLEeihatmRP73Lhg" x="67" y="1" width="362" height="114"/>
                </children>
                <children xmi:id="_JBzsQcdLEeihatmRP73Lhg" type="Entry" element="_-CQSkMdDEeihatmRP73Lhg">
                  <children xmi:id="_JBzsQsdLEeihatmRP73Lhg" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_JBzsQ8dLEeihatmRP73Lhg" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_JBzsRMdLEeihatmRP73Lhg"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_JBzsRcdLEeihatmRP73Lhg"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_JBzsRsdLEeihatmRP73Lhg" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JBzsR8dLEeihatmRP73Lhg"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_JBzsSMdLEeihatmRP73Lhg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_JBzsScdLEeihatmRP73Lhg" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JBzsSsdLEeihatmRP73Lhg" x="24" y="16"/>
                </children>
                <children xmi:id="_JBzsS8dLEeihatmRP73Lhg" type="State" element="_LTfs4MdJEeihatmRP73Lhg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_JBzsTMdLEeihatmRP73Lhg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_JBzsTcdLEeihatmRP73Lhg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_JBzsTsdLEeihatmRP73Lhg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_JBzsT8dLEeihatmRP73Lhg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_JBzsUMdLEeihatmRP73Lhg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JBzsUcdLEeihatmRP73Lhg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_JBzsUsdLEeihatmRP73Lhg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_JBzsU8dLEeihatmRP73Lhg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_JBzsVMdLEeihatmRP73Lhg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_JBzsVcdLEeihatmRP73Lhg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JBzsVsdLEeihatmRP73Lhg" x="91" y="301" width="270" height="81"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JBzsY8dLEeihatmRP73Lhg"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_JBzsZMdLEeihatmRP73Lhg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JBzsZcdLEeihatmRP73Lhg"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_8NWmccdDEeihatmRP73Lhg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_8NWmcsdDEeihatmRP73Lhg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_8NZCsMdDEeihatmRP73Lhg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8NWmc8dDEeihatmRP73Lhg" x="505" y="20" width="546" height="545"/>
        </children>
        <children xmi:id="_Ko93QMdLEeihatmRP73Lhg" type="State" element="_Ko9QMMdLEeihatmRP73Lhg">
          <children xsi:type="notation:DecorationNode" xmi:id="_Ko_scMdLEeihatmRP73Lhg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_Ko_sccdLEeihatmRP73Lhg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_Ko_scsdLEeihatmRP73Lhg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Ko_sc8dLEeihatmRP73Lhg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_Ko_sdMdLEeihatmRP73Lhg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Ko_sdcdLEeihatmRP73Lhg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Ko_sdsdLEeihatmRP73Lhg" type="StateFigureCompartment">
            <children xmi:id="_Vrja8MdLEeihatmRP73Lhg" type="Region" element="_Ko9QM8dLEeihatmRP73Lhg">
              <children xsi:type="notation:DecorationNode" xmi:id="_Vrja8cdLEeihatmRP73Lhg" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_Vrja8sdLEeihatmRP73Lhg"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_Vrja88dLEeihatmRP73Lhg"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_Vrja9MdLEeihatmRP73Lhg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_Vrja9cdLEeihatmRP73Lhg" type="State" element="_WP-MEMdKEeihatmRP73Lhg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_Vrja9sdLEeihatmRP73Lhg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_Vrja98dLEeihatmRP73Lhg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_Vrja-MdLEeihatmRP73Lhg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_Vrja-cdLEeihatmRP73Lhg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_Vrja-sdLEeihatmRP73Lhg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Vrja-8dLEeihatmRP73Lhg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_Vrja_MdLEeihatmRP73Lhg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_Vrja_cdLEeihatmRP73Lhg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_Vrja_sdLEeihatmRP73Lhg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Vrja_8dLEeihatmRP73Lhg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_VrjbAMdLEeihatmRP73Lhg" x="163" y="-41" width="414" height="157"/>
                </children>
                <children xmi:id="_dHiEUMdLEeihatmRP73Lhg" type="Entry" element="_dHhdQMdLEeihatmRP73Lhg">
                  <children xmi:id="_dHirYMdLEeihatmRP73Lhg" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_dHirY8dLEeihatmRP73Lhg" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_dHirZMdLEeihatmRP73Lhg"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_dHirZcdLEeihatmRP73Lhg"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_dHirYcdLEeihatmRP73Lhg" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_dHirYsdLEeihatmRP73Lhg"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_dHiEUcdLEeihatmRP73Lhg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_dHiEUsdLEeihatmRP73Lhg" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_dHiEU8dLEeihatmRP73Lhg" x="33" y="-24"/>
                </children>
                <children xmi:id="_mcqnsMdLEeihatmRP73Lhg" type="State" element="_mcpZkMdLEeihatmRP73Lhg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_mcqntMdLEeihatmRP73Lhg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_mcqntcdLEeihatmRP73Lhg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_mcqntsdLEeihatmRP73Lhg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_mcqnt8dLEeihatmRP73Lhg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_mcqnuMdLEeihatmRP73Lhg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mcqnucdLEeihatmRP73Lhg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_mcqnusdLEeihatmRP73Lhg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_mcqnscdLEeihatmRP73Lhg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_mcqnssdLEeihatmRP73Lhg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_mcrOwMdLEeihatmRP73Lhg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mcqns8dLEeihatmRP73Lhg" x="175" y="189" width="349" height="121"/>
                </children>
                <children xmi:id="_7HiUQMdLEeihatmRP73Lhg" type="State" element="_7HkJcMdLEeihatmRP73Lhg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_7Hi7UMdLEeihatmRP73Lhg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_7Hi7UcdLEeihatmRP73Lhg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_7Hi7UsdLEeihatmRP73Lhg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_7Hi7U8dLEeihatmRP73Lhg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_7Hi7VMdLEeihatmRP73Lhg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7Hi7VcdLEeihatmRP73Lhg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_7Hi7VsdLEeihatmRP73Lhg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_7Hi7V8dLEeihatmRP73Lhg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_7Hi7WMdLEeihatmRP73Lhg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_7Hi7WcdLEeihatmRP73Lhg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7Hi7WsdLEeihatmRP73Lhg" x="883" y="-15" width="349" height="121"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_VrjbAcdLEeihatmRP73Lhg"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_VrjbAsdLEeihatmRP73Lhg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_VrjbA8dLEeihatmRP73Lhg"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_Ko93QcdLEeihatmRP73Lhg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_Ko93QsdLEeihatmRP73Lhg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_KpA6kMdLEeihatmRP73Lhg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Ko93Q8dLEeihatmRP73Lhg" x="541" y="947" width="1274" height="546"/>
        </children>
        <children xmi:id="_iIdDsMdPEeihatmRP73Lhg" type="State" element="_iIancMdPEeihatmRP73Lhg">
          <children xsi:type="notation:DecorationNode" xmi:id="_iIe44MdPEeihatmRP73Lhg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_iIe44cdPEeihatmRP73Lhg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_iIe44sdPEeihatmRP73Lhg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_iIe448dPEeihatmRP73Lhg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_iIe45MdPEeihatmRP73Lhg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_iIe45cdPEeihatmRP73Lhg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_iIe45sdPEeihatmRP73Lhg" type="StateFigureCompartment">
            <children xmi:id="_iIhVIMdPEeihatmRP73Lhg" type="Region" element="_iIccosdPEeihatmRP73Lhg">
              <children xsi:type="notation:DecorationNode" xmi:id="_iIh8MMdPEeihatmRP73Lhg" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_iIh8McdPEeihatmRP73Lhg"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_iIh8MsdPEeihatmRP73Lhg"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_iIh8M8dPEeihatmRP73Lhg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_afIz0MdNEeihatmRP73Lhg" type="State" element="_afHlsMdNEeihatmRP73Lhg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_afIz1MdNEeihatmRP73Lhg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_afIz1cdNEeihatmRP73Lhg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_afIz1sdNEeihatmRP73Lhg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_afIz18dNEeihatmRP73Lhg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_afIz2MdNEeihatmRP73Lhg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_afIz2cdNEeihatmRP73Lhg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_afJa4MdNEeihatmRP73Lhg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_afIz0cdNEeihatmRP73Lhg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_afIz0sdNEeihatmRP73Lhg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_afJa4cdNEeihatmRP73Lhg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_afIz08dNEeihatmRP73Lhg" x="91" y="-1" width="325" height="205"/>
                </children>
                <children xmi:id="_gmP8AMdNEeihatmRP73Lhg" type="State" element="_gmP8DMdNEeihatmRP73Lhg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_gmP8AcdNEeihatmRP73Lhg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_gmP8AsdNEeihatmRP73Lhg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_gmP8A8dNEeihatmRP73Lhg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_gmP8BMdNEeihatmRP73Lhg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_gmP8BcdNEeihatmRP73Lhg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gmP8BsdNEeihatmRP73Lhg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_gmP8B8dNEeihatmRP73Lhg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_gmP8CMdNEeihatmRP73Lhg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_gmP8CcdNEeihatmRP73Lhg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_gmP8CsdNEeihatmRP73Lhg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gmP8C8dNEeihatmRP73Lhg" x="79" y="310" width="362" height="114"/>
                </children>
                <children xmi:id="_sBGj0cdPEeihatmRP73Lhg" type="Entry" element="_sBGj0MdPEeihatmRP73Lhg">
                  <children xmi:id="_sBHK4MdPEeihatmRP73Lhg" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_sBHK48dPEeihatmRP73Lhg" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_sBHK5MdPEeihatmRP73Lhg"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_sBHK5cdPEeihatmRP73Lhg"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_sBHK4cdPEeihatmRP73Lhg" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sBHK4sdPEeihatmRP73Lhg"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_sBGj0sdPEeihatmRP73Lhg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_sBGj08dPEeihatmRP73Lhg" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sBGj1MdPEeihatmRP73Lhg" x="33" y="458"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_iIh8NMdPEeihatmRP73Lhg"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_iIhVIcdPEeihatmRP73Lhg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_iIhVIsdPEeihatmRP73Lhg"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_iIdDscdPEeihatmRP73Lhg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_iIdDssdPEeihatmRP73Lhg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_iIff8MdPEeihatmRP73Lhg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_iIdDs8dPEeihatmRP73Lhg" x="1765" y="34" width="503" height="579"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Mvak48FBEeipM4DyHdzJFg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_MvYIocFBEeipM4DyHdzJFg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MvbL8MFBEeipM4DyHdzJFg" x="72" y="12" width="2304" height="1547"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_Mvh5oMFBEeipM4DyHdzJFg" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_Mvh5osFBEeipM4DyHdzJFg" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Mvh5o8FBEeipM4DyHdzJFg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_MvigsMFBEeipM4DyHdzJFg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_MvigscFBEeipM4DyHdzJFg" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MvigssFBEeipM4DyHdzJFg"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Mvigs8FBEeipM4DyHdzJFg" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_MvRa8cFBEeipM4DyHdzJFg" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_MvRa8sFBEeipM4DyHdzJFg"/>
    <edges xmi:id="_MvgrgMFBEeipM4DyHdzJFg" type="Transition" element="_MvfdYcFBEeipM4DyHdzJFg" source="_MvbzAMFBEeipM4DyHdzJFg" target="_MvdoMMFBEeipM4DyHdzJFg">
      <children xsi:type="notation:DecorationNode" xmi:id="_MvhSkcFBEeipM4DyHdzJFg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_MvhSksFBEeipM4DyHdzJFg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_MvhSk8FBEeipM4DyHdzJFg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_MvgrgcFBEeipM4DyHdzJFg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_MvhSkMFBEeipM4DyHdzJFg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_MvgrgsFBEeipM4DyHdzJFg" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_6-BskMdDEeihatmRP73Lhg" id="(0.25,0.2222222222222222)"/>
    </edges>
    <edges xmi:id="_-bsGQMdDEeihatmRP73Lhg" type="Transition" element="_-bqREMdDEeihatmRP73Lhg" source="_JBzsQcdLEeihatmRP73Lhg" target="_JBzsNcdLEeihatmRP73Lhg">
      <children xsi:type="notation:DecorationNode" xmi:id="_-bstUcdDEeihatmRP73Lhg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_-bstUsdDEeihatmRP73Lhg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_-bstU8dDEeihatmRP73Lhg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_-bsGQcdDEeihatmRP73Lhg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_-bstUMdDEeihatmRP73Lhg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_-bsGQsdDEeihatmRP73Lhg" points="[7, 1, -63, -14]$[71, -10, 1, -25]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-buigMdDEeihatmRP73Lhg" id="(0.029539088362617774,0.2331354560172693)"/>
    </edges>
    <edges xmi:id="_AFjAAMdEEeihatmRP73Lhg" type="Transition" element="_AFhx4MdEEeihatmRP73Lhg" source="_MvdoMMFBEeipM4DyHdzJFg" target="_8NWmcMdDEeihatmRP73Lhg">
      <children xsi:type="notation:DecorationNode" xmi:id="_AFjnEcdEEeihatmRP73Lhg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_AFjnEsdEEeihatmRP73Lhg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_AFjnE8dEEeihatmRP73Lhg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_AFjAAcdEEeihatmRP73Lhg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_AFjnEMdEEeihatmRP73Lhg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_AFjAAsdEEeihatmRP73Lhg" points="[15, -1, -107, 1]$[123, -72, 1, -70]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_AFlcQMdEEeihatmRP73Lhg" id="(0.8780487804878049,0.11504424778761062)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_AFlcQcdEEeihatmRP73Lhg" id="(0.0020917554951270637,0.13466252862022013)"/>
    </edges>
    <edges xmi:id="_GWXd0MdEEeihatmRP73Lhg" type="Transition" element="_GWWPsMdEEeihatmRP73Lhg" source="_8NWmcMdDEeihatmRP73Lhg" target="_MvdoMMFBEeipM4DyHdzJFg">
      <children xsi:type="notation:DecorationNode" xmi:id="_GWXd1MdEEeihatmRP73Lhg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_GWXd1cdEEeihatmRP73Lhg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_GWXd1sdEEeihatmRP73Lhg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_GWXd0cdEEeihatmRP73Lhg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_GWXd08dEEeihatmRP73Lhg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_GWXd0sdEEeihatmRP73Lhg" points="[-1, 3, 114, 5]$[-110, 19, 5, 21]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_GWZTAMdEEeihatmRP73Lhg" id="(0.0041835109902541275,0.28829161056723185)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_GWZTAcdEEeihatmRP73Lhg" id="(0.943089430894309,0.8141592920353983)"/>
    </edges>
    <edges xmi:id="_V6rG8MdJEeihatmRP73Lhg" type="Transition" element="_V6p40MdJEeihatmRP73Lhg" source="_JBzsNcdLEeihatmRP73Lhg" target="_JBzsS8dLEeihatmRP73Lhg">
      <children xsi:type="notation:DecorationNode" xmi:id="_V6rG9MdJEeihatmRP73Lhg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_V6rG9cdJEeihatmRP73Lhg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_V6rG9sdJEeihatmRP73Lhg" x="3" y="-100"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_V6rG8cdJEeihatmRP73Lhg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_V6rG88dJEeihatmRP73Lhg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_V6rG8sdJEeihatmRP73Lhg" points="[-6, 6, 3, -78]$[-6, 77, 3, -7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_V6sVEMdJEeihatmRP73Lhg" id="(0.47790055248618785,0.9473684210526315)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_V6sVEcdJEeihatmRP73Lhg" id="(0.5185185185185185,0.09876543209876543)"/>
    </edges>
    <edges xmi:id="_krkIYMdJEeihatmRP73Lhg" type="Transition" element="_krjhUMdJEeihatmRP73Lhg" source="_JBzsS8dLEeihatmRP73Lhg" target="_JBzsNcdLEeihatmRP73Lhg">
      <children xsi:type="notation:DecorationNode" xmi:id="_krkvcMdJEeihatmRP73Lhg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_krkvccdJEeihatmRP73Lhg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_krkvcsdJEeihatmRP73Lhg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_krkIYcdJEeihatmRP73Lhg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_krkIY8dJEeihatmRP73Lhg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_krkIYsdJEeihatmRP73Lhg" points="[5, -3, 1, 79]$[5, -74, 1, 8]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_krlWgMdJEeihatmRP73Lhg" id="(0.11851851851851852,0.04938271604938271)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_krlWgcdJEeihatmRP73Lhg" id="(0.16574585635359115,0.9298245614035088)"/>
    </edges>
    <edges xmi:id="_Mb0U8MdLEeihatmRP73Lhg" type="Transition" element="_Mbzt4MdLEeihatmRP73Lhg" source="_8NWmcMdDEeihatmRP73Lhg" target="_Ko93QMdLEeihatmRP73Lhg">
      <children xsi:type="notation:DecorationNode" xmi:id="_Mb08AcdLEeihatmRP73Lhg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Mb08AsdLEeihatmRP73Lhg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Mb08A8dLEeihatmRP73Lhg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Mb0U8cdLEeihatmRP73Lhg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Mb08AMdLEeihatmRP73Lhg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Mb0U8sdLEeihatmRP73Lhg" points="[9, 5, 4, -93]$[9, 88, 4, -10]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Mb2KIMdLEeihatmRP73Lhg" id="(0.8219886807553785,1.0055216388549724)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Mb2KIcdLEeihatmRP73Lhg" id="(0.45478228164132717,0.01977103991993546)"/>
    </edges>
    <edges xmi:id="_Y2RDcMdLEeihatmRP73Lhg" type="Transition" element="_Y2P1UMdLEeihatmRP73Lhg" source="_Ko93QMdLEeihatmRP73Lhg" target="_MvdoMMFBEeipM4DyHdzJFg">
      <children xsi:type="notation:DecorationNode" xmi:id="_Y2RDdMdLEeihatmRP73Lhg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Y2RDdcdLEeihatmRP73Lhg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Y2RDdsdLEeihatmRP73Lhg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Y2RDccdLEeihatmRP73Lhg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Y2RDc8dLEeihatmRP73Lhg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Y2RDcsdLEeihatmRP73Lhg" points="[-39, 173, 544, 660]$[-566, 173, 17, 660]$[-566, 72, 17, 559]$[-574, 72, 9, 559]$[-574, -479, 9, 8]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Y2SRkMdLEeihatmRP73Lhg" id="(0.05667068930109996,0.023705726143559647)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Y2SRkcdLEeihatmRP73Lhg" id="(0.34959349593495936,0.9292035398230089)"/>
    </edges>
    <edges xmi:id="_djFX4MdLEeihatmRP73Lhg" type="Transition" element="_djEw0MdLEeihatmRP73Lhg" source="_dHiEUMdLEeihatmRP73Lhg" target="_Vrja9cdLEeihatmRP73Lhg">
      <children xsi:type="notation:DecorationNode" xmi:id="_djF-8cdLEeihatmRP73Lhg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_djF-8sdLEeihatmRP73Lhg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_djF-88dLEeihatmRP73Lhg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_djFX4cdLEeihatmRP73Lhg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_djF-8MdLEeihatmRP73Lhg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_djFX4sdLEeihatmRP73Lhg" points="[7, 0, -151, 3]$[159, -24, 1, -21]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_djHNEMdLEeihatmRP73Lhg" id="(0.08599145944362445,0.14012738853503184)"/>
    </edges>
    <edges xmi:id="_ob8-4MdLEeihatmRP73Lhg" type="Transition" element="_ob8X0MdLEeihatmRP73Lhg" source="_Vrja9cdLEeihatmRP73Lhg" target="_mcqnsMdLEeihatmRP73Lhg">
      <children xsi:type="notation:DecorationNode" xmi:id="_ob9l8MdLEeihatmRP73Lhg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ob9l8cdLEeihatmRP73Lhg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ob9l8sdLEeihatmRP73Lhg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ob8-4cdLEeihatmRP73Lhg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ob8-48dLEeihatmRP73Lhg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ob8-4sdLEeihatmRP73Lhg" points="[3, 22, 4, -101]$[3, 100, 4, -23]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ob-0EMdLEeihatmRP73Lhg" id="(0.5797101449275363,0.8598726114649682)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ob-0EcdLEeihatmRP73Lhg" id="(0.6532951289398281,0.19834710743801653)"/>
    </edges>
    <edges xmi:id="_9kthUMdLEeihatmRP73Lhg" type="Transition" element="_9ksTMMdLEeihatmRP73Lhg" source="_Vrja9cdLEeihatmRP73Lhg" target="_7HiUQMdLEeihatmRP73Lhg">
      <children xsi:type="notation:DecorationNode" xmi:id="_9kthVMdLEeihatmRP73Lhg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_9kthVcdLEeihatmRP73Lhg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_9kthVsdLEeihatmRP73Lhg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_9kthUcdLEeihatmRP73Lhg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_9kthU8dLEeihatmRP73Lhg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_9kthUsdLEeihatmRP73Lhg" points="[39, 2, -132, 1]$[172, -20, 1, -21]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_9kuvcMdLEeihatmRP73Lhg" id="(0.9057971014492754,0.3375796178343949)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_9kuvccdLEeihatmRP73Lhg" id="(0.10888252148997135,0.18181818181818182)"/>
    </edges>
    <edges xmi:id="_j0nVcMdNEeihatmRP73Lhg" type="Transition" element="_j0muYMdNEeihatmRP73Lhg" source="_Ko93QMdLEeihatmRP73Lhg" target="_iIdDsMdPEeihatmRP73Lhg">
      <children xsi:type="notation:DecorationNode" xmi:id="_j0nVdMdNEeihatmRP73Lhg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_j0nVdcdNEeihatmRP73Lhg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_j0nVdsdNEeihatmRP73Lhg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_j0nVccdNEeihatmRP73Lhg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_j0nVc8dNEeihatmRP73Lhg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_j0nVcsdNEeihatmRP73Lhg" points="[0, -18, 13, 440]$[-11, -453, 2, 5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_j0ojkMdNEeihatmRP73Lhg" id="(0.6420722135007849,0.0347985347985348)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_j0ojkcdNEeihatmRP73Lhg" id="(0.001983484058483322,0.6732639170245523)"/>
    </edges>
    <edges xmi:id="_pmRLAMdNEeihatmRP73Lhg" type="Transition" element="_pmQj8MdNEeihatmRP73Lhg" source="_gmP8AMdNEeihatmRP73Lhg" target="_afIz0MdNEeihatmRP73Lhg">
      <children xsi:type="notation:DecorationNode" xmi:id="_pmRLBMdNEeihatmRP73Lhg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_pmRLBcdNEeihatmRP73Lhg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_pmRyEMdNEeihatmRP73Lhg" x="-9" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_pmRLAcdNEeihatmRP73Lhg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_pmRLA8dNEeihatmRP73Lhg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_pmRLAsdNEeihatmRP73Lhg" points="[12, -7, -133, 85]$[12, -45, -133, 47]$[149, -45, 4, 47]$[149, -83, 4, 9]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_pmTAMMdNEeihatmRP73Lhg" id="(0.3895027624309393,0.07017543859649122)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_pmTAMcdNEeihatmRP73Lhg" id="(0.37538461538461537,0.975609756097561)"/>
    </edges>
    <edges xmi:id="_xuCjYMdNEeihatmRP73Lhg" type="Transition" element="_xuBVQMdNEeihatmRP73Lhg" source="_iIdDsMdPEeihatmRP73Lhg" target="_Ko93QMdLEeihatmRP73Lhg">
      <children xsi:type="notation:DecorationNode" xmi:id="_xuCjZMdNEeihatmRP73Lhg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_xuCjZcdNEeihatmRP73Lhg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_xuCjZsdNEeihatmRP73Lhg" x="75" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_xuCjYcdNEeihatmRP73Lhg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_xuCjY8dNEeihatmRP73Lhg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_xuCjYsdNEeihatmRP73Lhg" points="[10, 2, 19, -490]$[109, 2, 118, -490]$[109, 489, 118, -3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xuDxgMdNEeihatmRP73Lhg" id="(0.39471332763818107,0.7300867028603841)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xuDxgcdNEeihatmRP73Lhg" id="(0.8155416012558869,0.007326007326007326)"/>
    </edges>
    <edges xmi:id="_8m-b0MdNEeihatmRP73Lhg" type="Transition" element="_8m90wMdNEeihatmRP73Lhg" source="_iIdDsMdPEeihatmRP73Lhg" target="_8NWmcMdDEeihatmRP73Lhg">
      <children xsi:type="notation:DecorationNode" xmi:id="_8nA4EcdNEeihatmRP73Lhg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_8nA4EsdNEeihatmRP73Lhg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_8nA4E8dNEeihatmRP73Lhg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_8m-b0cdNEeihatmRP73Lhg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_8nA4EMdNEeihatmRP73Lhg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_8m-b0sdNEeihatmRP73Lhg" points="[-6, 4, 234, 1]$[-235, -102, 5, -105]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8nCGMMdNEeihatmRP73Lhg" id="(0.049587101462083054,0.03271614942063042)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8nCGMcdNEeihatmRP73Lhg" id="(0.9871794871794872,0.1944954128440367)"/>
    </edges>
    <edges xmi:id="_sb-h8MdPEeihatmRP73Lhg" type="Transition" element="_sb9T0MdPEeihatmRP73Lhg" source="_sBGj0cdPEeihatmRP73Lhg" target="_gmP8AMdNEeihatmRP73Lhg">
      <children xsi:type="notation:DecorationNode" xmi:id="_sb-h9MdPEeihatmRP73Lhg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_sb-h9cdPEeihatmRP73Lhg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_sb-h9sdPEeihatmRP73Lhg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_sb-h8cdPEeihatmRP73Lhg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_sb-h88dPEeihatmRP73Lhg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_sb-h8sdPEeihatmRP73Lhg" points="[5, -5, -59, 63]$[65, -46, 1, 22]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_sb_wEMdPEeihatmRP73Lhg" id="(0.0718232044198895,0.8070175438596491)"/>
    </edges>
    <edges xmi:id="_M7L_QMdQEeihatmRP73Lhg" type="Transition" element="_M7KxIMdQEeihatmRP73Lhg" source="_iIdDsMdPEeihatmRP73Lhg" target="_MvdoMMFBEeipM4DyHdzJFg">
      <children xsi:type="notation:DecorationNode" xmi:id="_M7L_RMdQEeihatmRP73Lhg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_M7L_RcdQEeihatmRP73Lhg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_M7L_RsdQEeihatmRP73Lhg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_M7L_QcdQEeihatmRP73Lhg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_M7L_Q8dQEeihatmRP73Lhg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_M7L_QsdQEeihatmRP73Lhg" points="[202, -18, 1887, -62]$[202, -57, 1887, -101]$[-1713, -57, -28, -101]$[-1713, 28, -28, -16]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_M7NNYMdQEeihatmRP73Lhg" id="(0.09940357852882704,0.03281519861830743)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_M7NNYcdQEeihatmRP73Lhg" id="(0.7560975609756098,0.1504424778761062)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
